{% extends "base.html" %}
{% load static %}

	{% block content %}
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- header section start -->
		        <!-- header section end -->
        <!-- pages-title-start -->
		<div class="pages-title section-padding">
			<div class="container">
				<div class="row">
					<div class="col-xs-12">
						<div class="pages-title-text text-center">
							<h2>Blog</h2>
							<ul class="text-left">
								<li><a href="{% url 'index' %}">Home </a></li>
								<li><span> // </span>Blog</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- pages-title-end -->
        <!-- blog section start -->
		<section class="latest-blog section-padding">
			<div class="container">
				<ul class="blog-row clearfix">
					<li>
						<div class="row">
							{% for blog in blogs %}
							<div class="col-sm-4">
								<div class="l-blog-text">
									<div class="banner"><a href="{% url 'blog' blog.id %}"><img width="370px" height="255px" src="{{blog.images_of_blog.first.image_370x255.url}}" alt="" /></a></div>
									<div class="s-blog-text">
										<h4><a href="{% url 'blog' blog.id %}">{{blog.blog_title}}</a></h4>
										<span>By : <a href="#">{{blog.blog_writer.name}}</a> | <a href="#">{{blog.reviews.all.count}} Comments</a></span>
										<p>{{blog.blog_content|truncatewords:22}}</p>
									</div>
									<div class="date-read clearfix">
										<a href="#"><i class="mdi mdi-clock"></i> {{ blog.created_at|date:'b d, Y' }}</a>
										<a href="{% url 'blog' blog.id %}">read more</a>
									</div>
								</div>
							</div>
							{% endfor %}
						</div>
					</li>
				</ul>
				<div class="pagnation-ul">
					<ul class="clearfix">
						<li><a href="#"><i class="mdi mdi-menu-left"></i></a></li>
						<li><a href="#">1</a></li>
						<li><a href="#">2</a></li>
						<li><a href="#">3</a></li>
						<li><a href="#">4</a></li>
						<li><a href="#">5</a></li>
						<li><a href="#">...</a></li>
						<li><a href="#">10</a></li>
						<li><a href="#"><i class="mdi mdi-menu-right"></i></a></li>
					</ul>
				</div>
			</div>
		</section>
		<!-- blog section end -->
        
        
{% endblock content %}